@model MusicStore.Models.Database.Movie.MovieGenre

@{
    ViewBag.Title = "Browse Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="genre">
    <h3>
        <em>@Model.MovieGenreName</em> Movies
    </h3>
    <ul>
        @foreach (var movie in Model.Movies)
        {
            <li>
                <a href="@Url.Action("Details",new { id = movie.MovieId })">
                    <img alt="@movie.MovieTitle" src="@movie.MoviePosterUrl" />
                     <span>@movie.MovieTitle</span>
                </a>
            </li>
        }
    </ul>
</div>

