@model MusicStore.Models.Database.Movie.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieDirector.MovieDirectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDirector.MovieDirectorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieGenre.MovieGenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieGenre.MovieGenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoviePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoviePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoviePosterUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoviePosterUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
